/*font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*Roboto*/
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,html,body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
}
a{
    text-decoration: none;
    color: #000;
    display: inline-block;
}

a:hover{
    text-decoration: none;
    color: #000;
}
button:focus,
input:focus{
    outline: none;
}
/*navigation*/
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.overlay-nav-contents{
    position: relative;
    width: 50%;
    background-color: #fff;
    height: 100%;
    padding: 0 1rem;
    z-index: 101;
}
.overlay-closebtn{
    position: absolute;
    top: 25px;
    right: 25px;
}
.overlay-logo{
    padding: 1rem 0;
}
.overlay-nav-contents ul{
    list-style: none;

}
.overlay-nav-contents ul li{
    /* padding: 0.2rem 0; */
}
.overlay-nav-contents ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    
}
.overlay-nav-contents ul li a:hover,
.overlay-nav-contents ul li a:active,
.overlay-nav-contents ul li a:focus{
    color: #ff9b53;
    cursor: pointer;

}
header{
    background-color: #fff;

}
nav{
    display: flex;
    align-items: center;
    background: #fff;
}
.burger-button{
    margin-right: 2rem;
}
.logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
}
#logo:hover{
    cursor: pointer;
}
.spacer{
    flex: 1;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
nav ul li{
    padding: 0 0.5rem ;

}

.search-bar form input{
    background-color: #ebebeb;
    /* border: 4px solid #efefef; */
    width: 0;
    transition: all 0.45s ease-in-out;
    border-radius: 4px ;
}

nav ul li i{
    color: #000;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    
}
nav ul li i:hover{
    color: #ff9b53;
    /* background-color: #ff9b53; */
}


.search-bar form:hover input{
    /* display: block; */
    width: 100px;
    cursor: pointer;
}


nav ul li:first-child{
    padding-left: 0;
}
nav ul li:last-child{
    padding-right: 0;
}

/*catagory*/
.catagory{
    background-color: #f5f5f5;
    padding: 0.5rem 0;

   
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.catagory-content{
    font-weight: 300;
    letter-spacing: 2px;
    /* text-align: center; */
    /* color: #fff; */

}
.catagory-dropdown{
    position: relative;
    transition: all 0.45s ease-in-out;
}
.catagory-dropdown-content{
    display: none;
    position: absolute;
    min-width: 10rem;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.catagory-dropdown-content a{
    padding: 0.25rem  0.5rem;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
}
.catagory-dropdown:hover .catagory-content{
    /* background-color: #ebebeb; */
    cursor: pointer;
    color: #ff9b53;

}
.catagory-dropdown:hover .catagory-dropdown-content{
    display: block;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
main{
    margin-top: 48px;
}

/*footer*/
footer{
    padding: 1rem 0;
    background: #ebebeb;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
}
footer a{
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;
    
}
footer a:hover{
    color: #ff9b53;
}






 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        /* background-color: #fff; */
        /* padding: 0 15px; */
    }
    .catagory{
        display: none;
    }
    main{
        /* margin-top: 48px; */
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
    header{
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 15px;
        width: 100%;
        z-index: 10;
        /* background-color: #fff; */

    }
    .catagory{
        display: none;
    }
    main{
        margin-top: 48px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
  
 
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header{
        position: static;
        padding-left: 0;
        padding-right: 0;
        z-index: 0;
        /* top: 0; */
        /* width: 100%; */
    }
    .burger-button{
        display: none;
    }
    main{
        margin-top: 0;
    }
    .catagory{
        display: block;
    }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/******************/
@media(max-width:768px){
    
}

