.content-section{
    padding: 2rem 0;
}
.content-section h1{
    margin-bottom: 2rem;

}
.filter{
    border: 1px solid #ddd;
    padding: 1rem;
}
.filter h3{
    /* background-color: #f5f5f5; */
    margin-bottom: 1rem;
}
.filter h3::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ddd;
    margin-top: 0.5rem;

}
.filter-content{
    /* padding: 1rem; */
}
.filter-content h6{
    text-transform: uppercase;


}
.filter-content ul {
    list-style: none;
    padding: 0 1rem;
}
.filter-content ul li a{
    /* color: #ddd; */
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.catagory-container{
    border: 1px solid #ddd;
    padding: 1rem;
}
.content-section h2{
    text-transform: capitalize;
}
.content-section h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 0.5rem;

}
.content-gallary a{
    display: block;
    text-align: center;
    transition: all 0.45s ease-in-out;
}
.content-gallary a:hover,
.content-gallary a:active{
   color: #ff9b53;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .filter{
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
    .filter{
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
    .filter{
        display: block;
    }
    
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .filter{
        display: block;
    }
    
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/******************/
@media(max-width:768px){
    
}

